@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.fade-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scaleY(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 500ms, transform 500ms;
}
